import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400;1,700');
@import url('https://fontlibrary.org/en/face/coelacanth');

body * {
    font-family: "Alegreya", serif;
}

h1, h2, h1 *, h2 *, summary {
    font-family: "Coelacanth", serif !important;
}

header {
    padding-left: 25%;
}

header * {
    text-align: left;
}

header h1 {
    font-weight: 700;
}

header h2 {
    padding-top: 0.75rem;
    position: relative;
    font-weight: 400;
}

header h2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    border-top: 1px solid black;
} 

.next {
    font-family: sans-serif !important;
    display: block;
    margin: 0.5rem auto 1rem auto;
    font-size: 40pt;
    text-align: center;
    text-decoration: none;
}
.phantom {
    visibility: hidden;
}
